node_modules
dist
out
*.log*
*.DS_Store
/resources/Final2x-core/
/outputs/
/.idea
/coverage/
/*.spec
/packages/core/.venv/
/packages/core/build/
/packages/core/dist/
/packages/core/coverage.xml
/packages/core/htmlcov/
